/* admin.css */

.ad-admin-dashboard {
    display: grid;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.ad-container {
    max-width: 1200px;
    width: 100%;
    height:900px;
}

.ad-user-list {
    justify-content: space-between;
}

.ad-teacher-list,
.ad-parent-list,
.ad-students-list,
.ad-not-assigned-users {
    margin-right: 20px;
    width:40%;
}

.ad-user-list h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.ad-user-list>div {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    background-color: #f8f8f8;
}

.ad-contact-us-messages {
    margin-top: 20px;
}

/* UserListLayout.css (assuming it's a separate component) */
.ad-user-list-layout {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}

.ad-user-list-layout p {
    margin: 0;
}

/* ContactUsForms.css (assuming it's a separate component) */
.ad-contact-us-forms {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}

.ad-contact-us-forms p {
    margin: 0;
}

/* Responsive styling for smaller screens */
@media (max-width: 768px) {
    .ad-user-list {
        flex-direction: column;
    }

    .ad-user-list>div {
        margin-bottom: 20px;
    }

    .ad-not-assigned-users {
        margin-top: 20px;
    }
}