.assignment-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-assignment-link {
  display: block;
  margin-bottom: 20px;
  color: #007bff;
  text-decoration: none;
}

.assignment-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.assignment-component {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
  /* Adjust as needed */
}

.assignment-component table {
  width: 100%;
  margin-bottom: 10px;
}

.assignment-component th {
  text-align: left;
}

.assignment-component .description,
.assignment-component .file-link {
  margin-bottom: 10px;
}

.assignment-component .delete-button {
  margin-top: 10px;
  text-align: center;
}