body {
  margin: -10px;
  padding: -10%;
}

#root {
  height: 100%;
  margin:0;
  padding:0;
}
div{
  margin:0;
}
.pp-contentContainer {
  margin: 100px;
  padding: 0;
}
.pp-contentContainer {
  border: 1px solid black;
  padding: 20px;
  align-items: center;
  width: 600px;
}
.pp-userDetails {
  margin-bottom: 10px;
  
}
tbody{
  margin:20px;
  border:collapse;
  background-color:#292828;
}
.pp-label {
  font-weight: bold;
  margin-right: 10px;
}
#pp-userDetailsid{
  display: flex;
  margin:20px 100px 20px;
}
.pp-userDetailSpan {
  color: #333;
  /* You can adjust the color as needed */
}
h2 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom:10px;
}
.pp-link {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: #ffffff;
  padding:10px;
  width:145px;
  height:30px;
  text-align:centre;
  background-color:#c21ac7;
  /* You can adjust the color as needed */
}

.pp-link:hover {
  text-decoration: none;
}