.UP-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #EEF5FF;
}

.error {
  color: red;
  margin-bottom: 10px;
}

.UP-form-signup{
  background-color: #fff;
  margin:20px 0 ;
  padding: 30px;
  border-radius: 20px;
}

.UP-form-td{
  padding: 10px;
}

.UP-form-td input{
  padding: 10px;
}

