.Up-ps{
    background-color: #EEF5FF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.UP-PS-form{
    background-color: #fff;
    padding: 20px;
    margin: 30px 0;
    height: auto;
}

.UP-PS-form form{
    margin-bottom: 10px;
}

.UP-PS-form h1{
    padding: 20px;
}

.UP-PS-form input{
    padding: 10px 20px;
    margin-bottom: 10px;
}

.cancel-button{
    margin:0 120px;
    padding: 14px 10px;
    background-color: #fff;
    color: #3498db;
    border: 2px solid #3498db;
}

.cancel-button:hover{
    color: #fff;
    background-color: #3498db;
}