/* Style for table rows */
.UL-tr {
  border-bottom: 1px solid #ddd;
  color:#000000;
  background-color:#F1EFEF;
}

/* Style for table data cells */
.UL-td{
  text-align: left;
}

.UL-td:nth-child(even) {
  padding: 10px;
  width:300px;
}
.UL-td:nth-child(odd) {
  padding: 10px;
  width: 200px;  
}

