.dashboard-wrapper{
    background-color: #EEF5FF;
}
.dashboard-container{
    display: flex;
    justify-content: space-between;
}

.banner, .upcming-act,.upcming-event{
    margin: 30px 20px;
}

.banner img{
    width: 1200px;
    height: 600px;
    border-radius: 0;
}

.upcming-act{
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.upcming-act span{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 5px;
}

.dash-up-act{
    border-collapse: collapse;
    width: 200px;
    margin: 5px 0;
}
.dash-up-act-tr{
    height: 20px;
}
.dash-up-act-tr th{
    border: 1px solid #000;
    padding: 5px 10px;
    text-transform: capitalize;
}
.dash-up-act-tr td{
    border: 1px solid #000;
    align-items: center;
    text-align: center;
    padding: 5px 10px;
}

.upcming-event{
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.upcming-event span{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 5px;
}

.dash-up-eve{
    width: 200px;
    margin: 5px 0;
}

.dash-up-eve-tr{
    height: 20px;
}

.dash-up-eve-th{
    border: 1px solid #000;
    padding: 5px 10px;
    text-transform: capitalize;
}

.dash-up-eve-td{
    border: 1px solid #000;
    align-items: center;
    text-align: center;
    padding: 5px 10px;
}

.d-actions{
    margin: 40px 30px;
    font-size: 18px;
}

.d-actions tr{
    height: 30px;
}

.d-actions td a{
    padding: 16px 20px;
    background-color: #fff;
    margin: 0 5px;
    border-radius: 10px;
}
