.dashboard-wrapper{
    background-color: #EEF5FF;
}
.dashboard-container{
    display: flex;
    justify-content: space-between;
}

.banner, .upcming-act,.upcming-event{
    margin: 30px 20px;
}

.banner img{
    width: 1200px;
    height: 600px;
    border-radius: 0;
}

.upcming-act{
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.upcming-act span{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 5px;
}

.dash-up-act{
    border-collapse: collapse;
    width: 200px;
    margin: 5px 0;
}
.dash-up-act-tr{
    height: 20px;
}
.dash-up-act-tr th{
    border: 1px solid #000;
    padding: 5px 10px;
    text-transform: capitalize;
}
.dash-up-act-tr td{
    border: 1px solid #000;
    align-items: center;
    text-align: center;
    padding: 5px 10px;
}

.upcming-event{
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.upcming-event span{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 5px;
}

.dash-up-eve{
    width: 200px;
    margin: 5px 0;
}

.dash-up-eve-tr{
    height: 20px;
}

.dash-up-eve-th{
    border: 1px solid #000;
    padding: 5px 10px;
    text-transform: capitalize;
}

.dash-up-eve-td{
    border: 1px solid #000;
    align-items: center;
    text-align: center;
    padding: 5px 10px;
}

.d-actions{
    margin: 40px 30px;
    font-size: 18px;
}

.d-actions tr{
    height: 30px;
}

.d-actions td a{
    padding: 16px 20px;
    background-color: #fff;
    margin: 0 5px;
    border-radius: 10px;
}

.student-list{
    margin: 20px 30px;
    align-items: center;
    justify-content: center;
}

.student-list h3{
    text-align: center;
    text-transform: capitalize;
    font-size: 24px;
    padding: 10px;
}

.dash-st-list{
    width: 100%;
    border-collapse: collapse;
}

.dash-st-list-tr{
    height: 20px;
}

.dash-st-list-td{
    border: 1px solid black;
    width: 200px;
}

.dash-st-list-td-head{
    border: 1px solid black;
    width: 200px;
    background-color: #7B66FF;
    color: #fff;
    font-size: 20px;
    padding: 5px;
    font-weight: bold;
}

/* Event css */

.eve-wrapper{
    background-color: #EEF5FF;
    width: 100vw;
}

.eve-block{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 30px
}

.eve-link a{
    padding: 14px 5px;
    background-color: #fff;
    color: #3498db;
    border: 2px solid #3498db;
    border-radius: 14px;
}

.eve-link a:hover{
    color: #fff;
    background-color: #3498db;
    border: 2px solid #fff;
}

.event-component{
    margin: 20px 10px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #3498db;
    padding: 30px;
    box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.event-component h3{
    text-transform: capitalize;
}

.event-component p{
    font-weight: bold;
}

/* add events and assignment */

.ad-eve-wrap{
    background-color: #EEF5FF;
}

.ad-form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ad-form form{
    margin: 30px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
}

.ad-form input{
    padding: 10px 20px;
    margin: 10px 0;
}

.submit-btn{
    color: #3498db;
    background-color: #fff;
    border: 2px solid #3498db;
}

.submit-btn:hover{
    color: #fff;
    background-color: #3498db;
}

/* assignment  */

.assignment-page-container{
    background-color: #EEF5FF;
}

.assignment-component{
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.assignment-component th{
    height: auto;
}

.assignment-component h3{
    text-transform: capitalize;
}

.assignment-component p{
    font-size: 18px;
}

.file-link{
    text-transform: capitalize;
}

.add-assignment-link{
    padding: 14px 5px;
    background-color: #fff;
    color: #3498db;
    border: 2px solid #3498db;
    border-radius: 14px;
}

/* add result */

.ad-res-wrapper{
    background-color: #EEF5FF;
}

.result-component{
    display: flex;
    align-items: center;
    justify-content: center;
}

.result-component h3{
    padding: 10px;
}

.result-component form{
    padding: 30px;
    background-color: #fff;
    border-radius: 20px;
    margin: 30px 0;
}

.result-component input{
    padding: 5px 20px;
    margin: 5px;
    border-radius: 5px;
}

/* All results */

.Ar-wrap{
    background-color: #EEF5FF;
}

.Ar-block{
    display: flex;
    align-items: center;
    justify-content: center;
}

.report{
    width: 400px;
    margin: 30px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 30px;
}

.report h3{
    text-align: center;
    font-size: 24px;
}

.report p{
    font-weight: bold;
}


